@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans.eot');
  src: url('OpenSans.eot?#iefix') format('embedded-opentype'),
       url('OpenSans.svg#OpenSans') format('svg'),
       url('OpenSans.ttf') format('truetype'),
       url('OpenSans.woff') format('woff'),
       url('OpenSans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

