@font-face {
  font-family: 'Geometria';
  src: url('Geometria.eot');
  src: url('Geometria.eot?#iefix') format('embedded-opentype'),
       url('Geometria.svg#Geometria') format('svg'),
       url('Geometria.ttf') format('truetype'),
       url('Geometria.woff') format('woff'),
       url('Geometria.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

