{% extends "index.html" %}
{% block content %}

	<div class="wrap-content">
		<div class="breacrumbs-block">
			<div class="breacrumbs">
				<div class="breacrumbs-name">Главная</div>
				<img class="breacrumbs-icon" src="/static/img/breacrumbs-right.png">
				<div class="breacrumbs-name active-crumbs">Оформление заказа</div>
			</div>
			<div class="social-block">
				<img class="social" src="/static/img/social.png">
				<img class="social" src="/static/img/social.png">
				<img class="social" src="/static/img/social.png">
				<img class="social" src="/static/img/social.png">
				<img class="social" src="/static/img/social.png">
				<img class="social" src="/static/img/social.png">
				<img class="social" src="/static/img/social.png">
				<img class="social" src="/static/img/social.png">
				<img class="social" src="/static/img/social.png">
			</div>
		</div>
		
		<div class="page-order">
			
			<div class="view-orders x768">
				Посмотреть состав заказа
			</div>
		
			<h1 class="order-name">Оформление заказа</h1>
			
			<div class="wrap-wrap-order-form-block">
			
				<div class="wrap-order-form-block">
					<div class="order-form-block">
						
						<div class="wrap-order-form-head">
							<div class="order-form-name">
								Персональные данные
							</div>
							
							<div class="icon-border"></div>
							
							<div class="order-form-warning">
								* поля, обязательные для заполнения
							</div>
						</div>
						
						<div class="icon-border x1200"></div>
						
						<div class="wrap-order-form-input-block">
							<div class="order-form-input-block">
								<div class="order-form-input-head">
									<div class="order-form-input-name">
										Имя *
									</div>
									<div class="order-form-input-check">
										<img class="social" src="/static/img/order-check.png">
									</div>
								</div>
								
								<div class="wrap-order-form-input">
									<input class="order-form-input" placeholder="Степан">
								</div>
							</div>
							
							<div class="order-form-input-block">
								<div class="order-form-input-head">
									<div class="order-form-input-name">
										Фамилия *
									</div>
									<div class="order-form-input-check">
										<img class="social" src="/static/img/order-check.png">
									</div>
								</div>
								
								<div class="wrap-order-form-input">
									<input class="order-form-input" placeholder="Иванов">
								</div>
							</div>
							<div class="order-form-input-block">
								<div class="order-form-input-head">
									<div class="order-form-input-name">
										Телефон
									</div>
									<div class="order-form-input-check">
										<img class="social" src="/static/img/order-uncheck.png">
									</div>
								</div>
								
								<div class="wrap-order-form-input">
									<input class="order-form-input" placeholder="+7 ( ___ ) ___ __ __">
								</div>
							</div>
							
							<div class="order-form-input-block">
								<div class="order-form-input-head">
									<div class="order-form-input-name">
										E-mail *
									</div>
									<div class="order-form-input-check">
										<img class="social" src="/static/img/order-check.png">
									</div>
								</div>
								
								<div class="wrap-order-form-input">
									<input class="order-form-input" placeholder="stepan@ivanov.ru">
								</div>
							</div>
						</div>
					</div>
					
					<div class="order-form-block">
					
						<div class="wrap-order-form-head">
							<div class="order-form-name">
								Адрес доставки
							</div>
							<div class="icon-border"></div>
							<div class="order-form-warning">
								* поля, обязательные для заполнения
							</div>
						</div>
						
						<div class="icon-border x1200"></div>
						
						<div class="wrap-order-form-input-block">
							<div class="order-form-input-block">
								<div class="order-form-input-head">
									<div class="order-form-input-name">
										Страна *
									</div>
									<div class="order-form-input-check">
										<img class="social" src="/static/img/order-check.png">
									</div>
								</div>
								<div class="wrap-order-form-input">
									<input class="order-form-input" placeholder="Степан">
									<img class="social" src="/static/img/arrow-top-bottom.png">
								</div>
							</div>
							
							<div class="order-form-input-block">
								<div class="order-form-input-head">
									<div class="order-form-input-name">
										Область *
									</div>
									<div class="order-form-input-check">
										<img class="social" src="/static/img/order-check.png">
									</div>
								</div>
								<div class="wrap-order-form-input">
									<input class="order-form-input" placeholder="Московская">
									<img class="social" src="/static/img/arrow-top-bottom.png">
								</div>
							</div>
							<div class="order-form-input-block">
								<div class="order-form-input-head">
									<div class="order-form-input-name">
										Район *
									</div>
									<div class="order-form-input-check">
										<img class="social" src="/static/img/order-check.png">
									</div>
								</div>
								<div class="wrap-order-form-input">
									<input class="order-form-input" placeholder="Химкинский">
									<img class="social" src="/static/img/arrow-top-bottom.png">
								</div>
							</div>
							<div class="order-form-input-block">
								<div class="order-form-input-head">
									<div class="order-form-input-name">
										Город *
									</div>
									<div class="order-form-input-check">
										<img class="social" src="/static/img/order-check.png">
									</div>
								</div>
								<div class="wrap-order-form-input">
									<input class="order-form-input" placeholder="Химки">
									<img class="social" src="/static/img/arrow-top-bottom.png">
								</div>
							</div>
						</div>
						
						<div class="order-form-input-block">
							<div class="order-form-input-head">
								<div class="order-form-input-name">
									Адрес *
								</div>
								<div class="order-form-input-check">
									<img class="social" src="/static/img/order-check.png">
								</div>
							</div>
							<div class="wrap-order-form-input">
								<input class="order-form-input" placeholder="ул. Вторая Советская, д. 95, кв. 757">
							</div>
						</div>

					</div>
					
					<div class="order-form-block">
					
						<div class="order-form-name x768">
							Способ оплаты
						</div>
						<div class="icon-border"></div>
						<div class="wrap-order-form-radio-block">
							<div class="order-form-radio-block">
								<div class="order-form-radio-icon">
									<div class="order-form-radio-icon-inset check"></div>
								</div>
								<div class="order-form-radio-name">
									Наличные курьеру
								</div>
							</div>
					
							<div class="order-form-radio-block">
								<div class="order-form-radio-icon">
									<div class="order-form-radio-icon-inset"></div>
								</div>
								<div class="order-form-radio-name">
									Картой на сайте
								</div>
							</div>
							
							<div class="order-form-radio-block">
								<div class="order-form-radio-icon">
									<div class="order-form-radio-icon-inset"></div>
								</div>
								<div class="order-form-radio-name">
									Картой курьеру
								</div>
							</div>
							
							<div class="order-form-radio-block">
								<div class="order-form-radio-icon">
									<div class="order-form-radio-icon-inset"></div>
								</div>
								<div class="order-form-radio-name">
									Яндекс.Деньги/Visa/Mastercard
								</div>
							</div>
						</div>

					</div>
					<div class="order-form-block">
						<div class="order-form-name x768">
							Способ доставки
						</div>
						<div class="icon-border"></div>
						<div class="wrap-order-form-radio-block">
							<div class="order-form-radio-block">
								<div class="order-form-radio-icon">
									<div class="order-form-radio-icon-inset check"></div>
								</div>
								<div class="order-form-radio-name">
									Самовывоз
								</div>
							</div>
							<div class="order-form-radio-block">
								<div class="order-form-radio-icon">
									<div class="order-form-radio-icon-inset"></div>
								</div>
								<div class="order-form-radio-name">
									Курьер
								</div>
							</div>
							<div class="order-form-radio-block">
								<div class="order-form-radio-icon">
									<div class="order-form-radio-icon-inset"></div>
								</div>
								<div class="order-form-radio-name">
									Транспортная компания
								</div>
							</div>
							<div class="order-form-radio-block">
								<div class="order-form-radio-icon">
									<div class="order-form-radio-icon-inset"></div>
								</div>
								<div class="order-form-radio-name">
									Почта России
								</div>
							</div>
						</div>
					</div>
					<div class="order-form-block">
						<div class="order-form-name x768">
							Комментарий к заказу
						</div>
						<div class="icon-border"></div>
						<div class="order-form-textarea-block">
							<div class="wrap-order-form-textarea">
								<textarea class="order-form-textarea" placeholder="Просьба курьеру позвонить перед доставкой."></textarea>
							</div>
						</div>
					</div>
					
					<div class="place-order-block">
						
						<div class="wrap-callback">
							<div class="callback-background">
								<div class="wrap-callback-background"></div>
							</div>
							<div class="callback">
								<div class="callback-name">Оформить заказ</div>
							</div>
						</div>
						
						<div class="wrap-callback return-pre-order">
							<div class="callback-background">
								<div class="wrap-callback-background"></div>
							</div>
							<div class="callback">
								<div class="callback-name">Вернуться в корзину</div>
							</div>
						</div>
						
					</div>
				</div>
				
				<div class="orders x1200">
				
					<div class="orders-name">
						Ваш заказ
					</div>
					
					<div class="icon-border"></div>
					
					<div class="orders-products">
						<div class="orders-products-img">
							<img src="/static/img/product.png">
						</div>
						<div class="orders-products-name">
							Электромотоцикл RiverToys A001AA
						</div>
						<div class="orders-products-price-block">
							<div class="orders-products-price">12 550 руб.</div>
							<div class="orders-products-count">× 1</div>
						</div>
					</div>
					
					<div class="icon-border"></div>
					
					<div class="orders-products">
						<div class="orders-products-img">
							<img src="/static/img/product.png">
						</div>
						<div class="orders-products-name">
							Электромотоцикл RiverToys A001AA
						</div>
						<div class="orders-products-price-block">
							<div class="orders-products-price">12 550 руб.</div>
							<div class="orders-products-count">× 1</div>
						</div>
					</div>
					
					<div class="icon-border"></div>
					
					<div class="result-orders-block">
					
						<div class="result-order-block-name">Товаров</div>
						<div class="result-order-block-val">7</div>
						<div class="result-order-block-name">На сумму</div>
						<div class="result-order-block-val">57 000 руб.</div>
						
					</div>
					
					
				</div>
			</div>
		</div>
		
	</div>

{% endblock %}