{% extends "index.html" %}
{% block content %}

	<div class="wrap-content">
		<div class="breacrumbs-block">
			<div class="breacrumbs">
				<div class="breacrumbs-name">Главная</div>
				<img class="breacrumbs-icon" src="/static/img/breacrumbs-right.png">
				<div class="breacrumbs-name active-crumbs">Блог</div>
			</div>
			<div class="social-block">
				<img class="social" src="/static/img/social.png">
				<img class="social" src="/static/img/social.png">
				<img class="social" src="/static/img/social.png">
				<img class="social" src="/static/img/social.png">
				<img class="social" src="/static/img/social.png">
				<img class="social" src="/static/img/social.png">
				<img class="social" src="/static/img/social.png">
				<img class="social" src="/static/img/social.png">
				<img class="social" src="/static/img/social.png">
			</div>
		</div>
		
		<h1 class="order-name">статичная страница</h1>
  
		<div class="blogs-block">
			
		</div>

		
	</div>

{% endblock %}