{% extends "index.html" %}
{% block content %}

	<div class="wrap-content">
		<div class="breacrumbs-block">
			<div class="breacrumbs">
				<div class="breacrumbs-name">Главная</div>
				<img class="breacrumbs-icon" src="/static/img/breacrumbs-right.png">
				<div class="breacrumbs-name active-crumbs">Корзина</div>
			</div>
			<div class="social-block">
				<img class="social" src="/static/img/social.png">
				<img class="social" src="/static/img/social.png">
				<img class="social" src="/static/img/social.png">
				<img class="social" src="/static/img/social.png">
				<img class="social" src="/static/img/social.png">
				<img class="social" src="/static/img/social.png">
				<img class="social" src="/static/img/social.png">
				<img class="social" src="/static/img/social.png">
				<img class="social" src="/static/img/social.png">
			</div>
		</div>
		
		<h1 class="order-name order-name-basket">Корзина</h1>
		
		<div class="basket">
		
			<div class="basket-wrap-product-order">
				<div class="product-order">
					
					
					<div class="wrap-order-block-3">
						<div class="product-order-img-block">
							<div class="del-products-bascket x320">
								<img src="/static/img/del-basket-product.png">
							</div>
							<img class="product-order-img" src="/static/img/product.png">
						</div>
						
						<div class="wrap-order-block-1">
							<div class="product-order-name">Электромотоцикл RiverToys A001AA Элект River Toys A001AA</div>
							<div class="product-order-rating">
								<div class="product-rating">
									<img class="star" src="/static/img/raiting-fill.png">
									<img class="star" src="/static/img/raiting-fill.png">
									<img class="star" src="/static/img/raiting-fill.png">
									<img class="star" src="/static/img/raiting-fill.png">
									<img class="star" src="/static/img/raiting.png">
								</div>
							</div>
							<div class="product-order-price">
								<div class="product-price">12 000 руб.</div>
							</div>
						</div>
					</div>
					
					
					<div class="wrap-order-block-2">
						<div class="product-order-count-block">
							<div class="product-order-count-name">
								количество
							</div>
							<div class="product-order-count">
								<div class="product-order-count-sub">
									<img src="/static/img/order-product-sub.png">
								</div>
								<div class="product-order-count-count">
									<input class="product-order-count-input" value="1">
								</div>
								<div class="product-order-count-add">
									<img src="/static/img/order-product-basket-add.png">
								</div>
							</div>
						</div>
						<div class="product-order-price-all-block">
							<div class="product-price-all-name">Стоимость</div>
							<div class="product-price-all">25 000 руб.</div>
						</div>
					</div>
					
					<div class="del-products-bascket x1200">
						<img src="/static/img/del-basket-product.png">
					</div>
					
					
				</div>
			</div>
			
			<div class="basket-wrap-product-order last">
			
				<div class="product-order">
					<div class="wrap-order-block-3">
						<div class="product-order-img-block">
							<div class="del-products-bascket x320">
								<img src="/static/img/del-basket-product.png">
							</div>
							<img class="product-order-img" src="/static/img/product.png">
						</div>
						<div class="wrap-order-block-1">
							<div class="product-order-name">Электромотоцикл</div>
							<div class="product-order-rating">
								<div class="product-rating">
									<img class="star" src="/static/img/raiting-fill.png">
									<img class="star" src="/static/img/raiting-fill.png">
									<img class="star" src="/static/img/raiting-fill.png">
									<img class="star" src="/static/img/raiting-fill.png">
									<img class="star" src="/static/img/raiting.png">
								</div>
							</div>
							<div class="product-order-price">
								<div class="product-price">1 000 руб.</div>
							</div>
						</div>
					</div>
					<div class="wrap-order-block-2">
						<div class="product-order-count-block">
							<div class="product-order-count-name">
								количество
							</div>
							<div class="product-order-count">
								<div class="product-order-count-sub">
									<img src="/static/img/order-product-sub.png">
								</div>
								<div class="product-order-count-count">
									<input class="product-order-count-input" value="1">
								</div>
								<div class="product-order-count-add">
									<img src="/static/img/order-product-basket-add.png">
								</div>
							</div>
						</div>
						<div class="product-order-price-all-block">
							<div class="product-price-all-name">Стоимость</div>
							<div class="product-price-all">222 000 руб.</div>
						</div>
					</div>
					<div class="del-products-bascket x1200">
						<img src="/static/img/del-basket-product.png">
					</div>
				</div>
			</div>
		</div>
		
		<div class="result-order-block">
			<div class="result-order-name">
				Итого: 57 000 руб.
			</div>
			
			<div class="result-order-button">
				<div class="wrap-callback">
					<div class="callback-background">
						<div class="wrap-callback-background"></div>
					</div>
					<div class="callback">
						<div class="callback-name">Оформить заказ</div>
					</div>
				</div>
			</div>
			
		</div>
		
	</div>

{% endblock %}